# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

# migrations and databases
*.db
*.sqlite
migrations/

# distribution and packages files
./DS_Store
**/.DS_Store

# Unit test / coverage reports
.coverage
coverage/
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
